._1jYKO {
    z-index: 8;
    width: 100%;
    min-height: 48px;
    box-sizing: border-box;
}

._1jYKO ._2sI8Z {
    display: flex;
    background: #ebeeef;
    padding: 16px 0 32px;
    border-top: 1px solid rgba(0, 47, 52, .2);
    font-size: 14px;
    line-height: 20px;
}

._3FF3q {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    color: #002f34;
}

._1jYKO .f3R3d {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

._1jYKO ._2sI8Z .fRN33 {
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
}

._1jYKO ._2sI8Z .fRN33 ul {
    padding: 0;
    list-style: none;
    margin: 8px 0 0;
}

._1jYKO ._2sI8Z .fRN33 {
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
}

._1jYKO ._2sI8Z .fRN33 {
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
}

._1jYKO ._2sI8Z .fRN33 ._2XmAi {
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #002f34;
    color: rgba(0, 47, 52, .64);
}
._1jYKO ._2XmAi {
    text-decoration: none;
    cursor: pointer;
}

._1jYKO ._2sI8Z .fRN33._2oZEg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

._1jYKO ._2sI8Z .fRN33 {
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
}

._1jYKO ._2sI8Z .fRN33 ._1NJc2 .Ljcld {
    display: block;
}

._1jYKO ._2sI8Z .fRN33 {
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
}

._1jYKO ._2sI8Z {
    display: flex;
    background: #ebeeef;
    padding: 16px 0 32px;
    border-top: 1px solid rgba(0, 47, 52, .2);
    font-size: 14px;
    line-height: 20px;
}

._1jYKO ._2sI8Z .fRN33 ._1NJc2 ._2lcRE ._2XmAi {
    display: inline-block;
}
._1jYKO ._2sI8Z .fRN33 ._2XmAi {
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #002f34;
    color: rgba(0, 47, 52, .64);
}

._1jYKO ._2XmAi {
    text-decoration: none;
    cursor: pointer;
}

._1jYKO ._1P8AV {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    background: #002f34;
    padding: 16px 0;
}

._1jYKO .f3R3d {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

._1jYKO ._1P8AV {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    background: #002f34;
    padding: 16px 0;
}

._3FF3q {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    color: #002f34;
}

._1jYKO ._1P8AV .fRN33 span {
    font-weight: 700;
    padding-right: 8px;
}

._2XmAi span{
    padding: 5px;
    outline: none;
}

._2XmAi{
    outline: none;
}
._2XmAi{
color: #ebeeef;
}