.modalbtn{
border-bottom: none !important;
padding: 5px !important;
}
.modalbtn button{
    outline: none !important;
}

.modal-content{
    text-align: center !important;
}
.detailMsg{
    font-size: 13px;
    font-weight: 700;
}


.modal-dialog {
    max-width: 500px !important;
    margin: auto !important;
}